@using System.Globalization
@model TheCarHub.Models.ViewModels.ListingViewModel

@section PageHeading
{
    <h1>@Model.Car.Make @Model.Car.Model @Model.Car.Trim</h1>
}

<section id="content" class="clearfix">

    <div class="content-wrap pt-5">

        <div class="container">

            <div class="row">
                <!-- Posts -->
                <div class="col-md-8">

                    <!-- Page Section - features
                    ============================================= -->
                    <div id="section-features" class="page-section">

                        <h3 class="mb-3 form-heading">Overview</h3>
                        <p>@Model.Description</p>
                        <div class="row clearfix">
                            @* <div class="col-md-6"> *@
                            @*     <ul class="iconlist"> *@
                            @*         <li> *@
                            @*             <i class="icon-car-paint"></i><span class="ml-2">Different Color Varients</span> *@
                            @*         </li> *@
                            @*         <li class="mt-2"> *@
                            @*             <i class="icon-car-stearing"></i><span class="ml-2">Powerful Stearings</span> *@
                            @*         </li> *@
                            @*         <li class="mt-2"> *@
                            @*             <i class="icon-car-fuel"></i><span class="ml-2">Goof Fuel Efficiency</span> *@
                            @*         </li> *@
                            @*         <li class="mt-2"> *@
                            @*             <i class="icon-car-signal"></i><span class="ml-2">Automatic / Manual</span> *@
                            @*         </li> *@
                            @*     </ul> *@
                            @* </div> *@
                            @* <div class="col-md-6"> *@
                            @*     <ul class="iconlist"> *@
                            @*         <li> *@
                            @*             <i class="icon-car-meter"></i><span class="ml-2">Modern Dashboard</span> *@
                            @*         </li> *@
                            @*         <li class="mt-2"> *@
                            @*             <i class="icon-car-wheel"></i><span class="ml-2">Beautiful Alloy-wheels</span> *@
                            @*         </li> *@
                            @*         <li class="mt-2"> *@
                            @*             <i class="icon-car-signal"></i><span class="ml-2">Automatic / Manual</span> *@
                            @*         </li> *@
                            @*         <li class="mt-2"> *@
                            @*             <i class="icon-car-alert"></i><span class="ml-2">App Technology</span> *@
                            @*         </li> *@
                            @*     </ul> *@
                            @* </div> *@
                        </div>
                    </div>

                    <!-- Page Section - gallery
                    ============================================= -->
                    <div id="section-gallery" class="page-section my-5">
                        <h3 class="mb-3 form-heading">Gallery</h3>
                        
                        <div id="lightgallery">
                            @foreach (var item in Model.Media)
                            {
                                var mediaPath = "/media/" + item.FileName;
                                    <a href="@mediaPath">
                                        <img class="_img-thumbnail" src="@mediaPath" alt="Image"/>
                                    </a>
                            }
                        </div>
                    </div>

                </div>

                <!-- Sidebar  
                ============================================= -->
                <div class="col-md-4">
                    <div class="mb-4">
                        <h2 class="mb-0 h1 t600 ls0">
                            @Model.SellingPrice.ToString("C0", new CultureInfo("en-US"))
                        </h2>
                    </div>
                    
                    <div class="clear"></div>
                    
                    <mb-2>
                        <small class="text-grey">Listing created:</small>
                        <p>@Model.DateCreated.ToString("dd MMMM yyy")</p>
                    </mb-2>
                    
                      @if (Model.DateLastUpdated != null)
                      {
                          <mb-2>
                              <small class="text-grey">Listing last updated:</small>
                              <p>@Model.DateLastUpdated.Value.ToString("dd MMMM yyy")</p>
                          </mb-2>
                      }
                </div>
                <!-- Sidebar end -->

            </div>
        </div>
    </div>

</section>
<!-- #content end -->

@section Scripts
{
    <script>
        lightGallery(document.getElementById("lightgallery"));
    </script>
}
