@using System.Globalization
@model IEnumerable<TheCarHub.Models.ViewModels.ListingViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@section Preloader
{
    <div class="preloader" style="background-image: url('/media-static/car/page-loader.gif')"></div>
}

<div class="__preloader_content-container">

    @section PageTitle
    {
        <section id="page-title" style="background-image: url('media-static/car/bg.jpg') !important;" class="page-title-parallax page-title-dark" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -300px;">

            <div class="container clearfix">
                <h1>Listings</h1>
            </div>

        </section>
    }

    <section id="content" class="clearfix" style="overflow: visible">

        <div class="content-wrap notoppadding">

            <div class="container">
            
                        <div class="card p-4 shadow" style="top: -60px;">
                            <form asp-action="SearchListings" method="get" class="nobottommargin">
                                <div class="row clearfix">
                                    <div class="col-md-6 col-sm-6 col-12 mt-4 mt-md-0">
                                        <div class="form-group">
                                             <label>Search car makes:</label>
                                             <input name="SearchString" class="form-control" type="text"/>
                                         </div>
                                    </div>
            
                                    <div class="col-md-3 col-sm-6 col-12 mt-4 mt-md-0">
                                        <button type="Submit" class="button button-3d button-rounded btn-block noleftmargin" style="margin-top: 29px;">Search</button>
                                    </div>
                                    
                                    <div class="col-md-3 col-sm-6 col-6">
                                        <a asp-action="Index">
                                            <button class="button button-red button-3d button-rounded btn-block noleftmargin" style="margin-top: 29px;">Reset</button>
                                        </a>
                                    </div>
                                </div>
            
                            </form>
                        </div>

                <div class="section nomargin pt-0 nobg">
                    <div class="container clearfix">

                        <div class="clear"></div>

                        <!-- Portfolio Items
                        ============================================= -->
                        @if (Model.Any())
                        {
                            <div id="portfolio" class="portfolio portfolio-3 grid-container clearfix" data-layout="fitRows">
                                @foreach (var item in Model)
                                {
                                    <article class="portfolio-item cf-sedan col-4" style="padding-bottom: 40px">
                                        <div class="portfolio-image">

                                            <a asp-controller="FrontPage" asp-action="Listing" asp-route-id="@item.Id">
                                                @{
                                                    string filePath;

                                                    if (item.Media.Any())
                                                    {
                                                        filePath = item.Media.FirstOrDefault()?.FileName != null ?
                                                            "https://csb05a6c77618cex4803xb98.blob.core.windows.net/carhub-media/" + item.Media.FirstOrDefault().FileName :
                                                            "media-static/car/hero-slider/1.jpg";
                                                    }
                                                    else
                                                    {
                                                        filePath = "media-static/car/hero-slider/1.jpg";
                                                    }

                                                    <img style="height: 250px; width: 370px; object-fit: cover;" src="@filePath" alt="Image"/>
                                                }

                                                <div class="filter-p-pricing">
                                                    <span class="p-price t700 ls1">@item.SellingPrice.ToString("C0", new CultureInfo("en-US"))</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="portfolio-desc giveMeEllipsis">
                                            <h3>
                                                <a a asp-controller="FrontPage" asp-action="Listing" asp-route-id="@item.Id">@item.Car.Year.ToString() @item.Car.Make @item.Car.Model</a>
                                            </h3>
                                            <span class="giveMeEllipsis">@item.Description</span>
                                        </div>
                                    </article>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="col-12">
                                <h4 class="text-grey text-center">Sorry!</h4>
                                <p class="text-center">No listings matching the query were found. Please check your spelling and try again, or reset the search to view all listings.</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- #content end -->